/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.sidebar {
    height:100%;
    position: fixed;
    width: 160px;
    background-color: darkgray;
    top: 0px;
    left: 0px;

}

.main {
    height: 100%;
    margin-left: 160px;
}

.title {
    padding: .3em;
    text-align: center;
    background-color: rgb(102, 101, 101);
    font-size: 2em;
    font-weight: bold;
}