/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: calc(100% - 3.5em);
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    height: 100%;
    width: auto;
}

.sidebar {
    height:100%;
    position: fixed;
    width: 160px;
    background-color: rgb(187, 13, 229);
    top: 0px;
    left: 0px;
}

.map-button-container {
    margin-top: 15px;
    height: 45px;
    width: 100%;
}

.map-button-container div {
    float: right;
    margin-right: 5%;
    height: 80%;
    padding: 5px;
    border-radius: 5px;
    background-color: lightgrey;
}

/* .map-button-container a {
    float: right;
    margin-right: 5%;
    height: 80%;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
} */

.map-button-container :hover {
    background-color: rgb(41, 41, 41);
    cursor: pointer;
}
.float-left{
    float: left;
}

.main-sidebar {
    position: absolute;
    bottom: 0px;
    margin-bottom: 15px;
}

#download-flight {
    text-align: center;
    width: 80%;
}

.main {
    height: 100%;
    margin-left: 160px;
}

.title {
    padding: .3em;
    text-align: center;
    background-color: rgb(102, 101, 101);
    font-size: 2em;
    font-weight: bold;
}
.Menu {
    float: left;
    padding: 11%;
}

/* index page */
#tabBTN {
  padding: 10px;
  margin: 10px;
  border: 0px;
  width: 100px;
  background-color: lightgrey;
  align-items: center;
  align: center;
  display: block;
  border-radius: 5px;
}
#tabBTN:hover {
    background-color: rgb(90, 90, 90);
    cursor: pointer;
}

/* rawData page */
#myTableDIV {
  /* position: absolute; */
  /* align: center; */
  /* padding-left: 100px; */
  /* stre */
  height:900px;
  width: auto;
  overflow:auto;
}
table {
  border: 1px solid black;
  width: 100%;
}
td {
  border: 1px solid black;
}

/* flight download modal */
#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

#success-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 0;
    z-index: 1100;
}

#path-text {
    max-width: 95%;
    width: 100%;
    border-style: none;
    border-color: transparent;
    overflow: auto;
    resize: none;
    outline-style: none;
}

#path-text:hover {
    cursor: default;
}

.hidden {
    display: none;
}

.modal-dialog {
    width: auto;
    max-width: 700px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
}

.modal-header {
    position: relative;
    padding: 10px 20px;
}

.modal-header h3 {
    margin: 0;
    font-size: 28px;
    text-align-last: center;
}

.modal-close-button {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 20px 10px;
}

.modal-footer button {
    font-size: 20px;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.modal-footer .modal-accept-button {
    background-color: #319df6;
    color: #fff;
}

.modal-footer .modal-accept-button:hover {
    background-color: #087dde;
}
